:root {
    --bg-dark: #1D1D1D;
    --text-dark: #9C9C9C;
    --primary-dark: #FFE500;
    --second-dark: #16B5C7;

    --bg-light: #fff;
    --text-light: #262626;
    --primary-light: #16B5C7;
    --second-light: #FFE500;

    --bg-color: var(--bg-dark);
    --text-color: var(--text-dark);
    --primary-color: var(--primary-dark);
    --second-color: var(--second-dark);
}

@media (prefers-color-scheme: light) {
   :root {
    --bg-color: var(--bg-light);
    --text-color: var(--text-light);
    --primary-color: var(--primary-light);
    --second-color: var(--second-light);
   } 
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
}
