:root {
    --bg-dark: #1D1D1D;
    --white: #fff;
    --text-dark: #9C9C9C;
    --primary-dark: #FFE500;
    --second-dark: #16B5C7;

    --bg-light: #fff;
    --dark: black;
    --text-light: #262626;
    --primary-light: #16B5C7;
    --second-light: #FFE500;

    --bg-color: var(--bg-dark);
    --interface-color: var(--white);
    --text-color: var(--text-dark);
    --primary-color: var(--primary-dark);
    --second-color: var(--second-dark);
}

@media (prefers-color-scheme: light) {
   :root {
    --bg-color: var(--bg-light);
    --interface-color: var(--dark);
    --text-color: var(--text-light);
    --primary-color: var(--primary-light);
    --second-color: var(--second-light);
   } 
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    background: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    margin: 0 auto;
    width: 1170px;
}

#sapper {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
}

.content {
    color: var(--interface-color);
}

.img--full {
    width: 100%;
}

.mt-50 {
    margin-top: 50px;
}

.content p:not([class]) {
    margin: 1em auto;
    max-width: 600px;
    line-height: 1.4;
}

@media (max-width: 1170px) {
    .wrapper {
        width: 100%;
    }
}
